header {
  background-color: rgb(50, 50, 50);
  padding: 1rem;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  list-style: none;
}

li a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}