.search-text {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
}

.search-bar {
  width: 50%;
  margin: auto;
}

form {
  width: 100%;
}

.search-input {
  display: block;
  margin: auto;
  width: 100%;
}

.search-button {
  border-radius: 2px;
  font-size: 1rem;
  cursor: pointer;
  display: block;
  width: 50%;
  margin: auto;
  margin-top: 1rem;
}

.search-button:hover {
  background-color: rgb(50, 255, 50);
  transition: all 1s ease-out;
}